<tui-island [hoverable]="true">
  <p class="tui-island__category">
    Риэлтор
  </p>
  <h3 class="tui-island__title">
    Добавить новое объявление
  </h3>
  <tui-notification class="tui-space_top-4" *ngIf="error$ | async as error" status="error">
    {{error}}
  </tui-notification>
  <tui-notification class="tui-space_top-4" *ngIf="success$ | async as success" status="success">
    {{success}}
  </tui-notification>
  <form [formGroup]="newAd">
    <tui-input class="tui-space_top-2" formControlName="title" tuiTextfieldAutocomplete="title">
      Название объявления
    </tui-input>
    <tui-text-area formControlName="description" [expandable]="true" [rows]="5" class="tui-space_top-2">Краткое
      описание
      объявления</tui-text-area>
    <tui-input class="tui-space_top-2" formControlName="address" tuiTextfieldAutocomplete="address">
      Адрес недвижимости
    </tui-input>
    <tui-input-number class="tui-space_top-2" formControlName="size" tuiTextfieldAutocomplete="size"
      [postfix]="'м²' | tuiCurrency">
      Площадь недвижимости
    </tui-input-number>
    <div tuiGroup class="group" [orientation]="orientation">
      <tui-input formControlName="floor" class="tui-space_top-2">
        Этаж недвижимости
      </tui-input>
      <tui-input formControlName="maxFloor" class="tui-space_top-2">
        Всего этажей в доме
      </tui-input>
    </div>
    <tui-select formControlName="type_apartament" class="tui-space_top-2">Тип недвижимости
      <tui-data-list-wrapper *tuiDataList [items]="type_apartament"></tui-data-list-wrapper>
    </tui-select>
    <tui-select formControlName="type_ad" class="tui-space_top-2">Тип объявления
      <tui-data-list-wrapper *tuiDataList [items]="type_ad"></tui-data-list-wrapper>
    </tui-select>
    <tui-multi-select formControlName="conveniences" class="tui-space_top-2">Удобства
      <tui-data-list-wrapper *tuiDataList tuiMultiSelectGroup [items]="conveniences"></tui-data-list-wrapper>
    </tui-multi-select>
    <tui-input-number formControlName="price" class="tui-space_top-2" [postfix]="'RUB' | tuiCurrency">
      Сумма
    </tui-input-number>
    <div class="tui-space_top-4 photoBox">
      <angular-file-uploader #fileUpload1 [config]="afuConfig" (ApiResponse)="fileUpload($event)">
      </angular-file-uploader>
      <div class="block" *ngIf="filename">
        <tui-island class="success" [hoverable]="true">
          <tui-marker-icon src="tuiIconCheck" mode="success" class="tui-space_bottom-4" size="m"></tui-marker-icon>
          <p class="tui-text_h6">
            Вы успешно добавили фотографию
          </p>
        </tui-island>
      </div>
    </div>
    <button tuiButton type="button" class="tui-space_top-2 maxWidth" (click)="createAd()">
      Добавить новое объявление
    </button>
  </form>
</tui-island>